<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hearthstonedecklist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <!-- android:largeHeap is for allocating enough memory to store all of the card images in memory -->
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true" >
        
        <activity 
            android:name="com.hearthstonedecklist.LoadScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.hearthstonedecklist.CardListActivity" >
        </activity>
        
        <activity 
            android:name="com.hearthstonedecklist.CardInfoActivity" >
        </activity>
        
        <activity 
            android:name="com.hearthstonedecklist.DeckListActivity" >
        </activity>
        
        <!-- CreateDeckHeroActivity is not recorded in the history stack -->
        <activity 
            android:name="com.hearthstonedecklist.CreateDeckHeroActivity"
            android:noHistory="true" >
        </activity>
        
        <!-- CreateDeckNameActivity is not recorded in the history stack -->
        <activity 
            android:name="com.hearthstonedecklist.CreateDeckNameActivity"
            android:noHistory="true" >
        </activity>
        
        <activity 
            android:name="com.hearthstonedecklist.DeckOverviewActivity" >
        </activity>
    </application>

</manifest>